.background {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.bt_voltar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-top: 50px;
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  border-radius: 15px;
  align-self: flex-start;

  cursor: pointer;
}
.bt_voltar:hover {
  opacity: 0.8;
}

.bt_voltar p {
  margin-left: 10px;
  display: flex;
}

.link_voltar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  align-self: flex-start;
  color: black;
}

.card_detalhes {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  max-width: 70vw;
  padding: 40px;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 10px;
}

.detalhes_produto {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.col_detalhes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.col_detalhes button {
  width: 160px;
  height: 60px;
  margin-top: 20px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 15px;
  font-size: 17px;
  font-weight: 500;
}

.detalhes {
  background-color: whitesmoke;
  font-size: 16px;
  padding: 30px;
  border-radius: 10px;
  margin-left: 50px;
}
.detalhes h1 {
  font-size: 25px;
}

.imagem_preco img {
  width: 270px;
  margin-bottom: 20px;
}

.imagem_preco p {
  text-decoration: line-through;
}

.detalhes_produto button {
  position: relative;
  height: 3em;
  font-size: 18px;
  font-weight: 700;
}

.detalhes .nome {
  font-weight: bold;
  font-size: 30px;
}

.detalhes h1 {
  margin-bottom: 3px;
  font-weight: 300;
}

.detalhes .frete {
  color: #1ba305;
  font-weight: 500;
}

.marca {
  margin-top: 30px;
}

.detalhes .disponibilidade {
  margin-top: 30px;
  font-weight: 500;
}

.card_perguntas {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
  padding: 40px;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 10px;
}

.user1 {
  display: flex;

  align-items: center;

  justify-content: flex-start;
  margin-bottom: 20px;
}

.user1 img {
  width: 70px;
  margin-right: 20px;
  border-radius: 50px;
}

.user1 p {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 1fr;
  max-width: 300px;
  padding: 10px;
  border-radius: 20px;
}

.bot {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.bot img {
  width: 70px;
  margin-left: 20px;
}

.bot p {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 1fr;
  padding: 10px;
  border-radius: 20px;
}

.faca_sua_pergunta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 25px;
}

.faca_sua_pergunta textarea {
  border: none;
  margin-bottom: 20px;
  padding: 10px;
  width: 30vw;
  height: 120px;
  font-size: 17px;
  border-radius: 10px;
}

.faca_sua_pergunta button {
  width: 130px;
  height: 50px;
  border-radius: 15px;
  font-size: 17px;
  font-weight: 500;
  border: 2px solid black;
  background-color: white;
}
